
<table class="table table-striped">

<tbody>

[% FOREACH article IN articles %]
    <tr><td><a href="http://www.mitbbs.com[% article.link %]" >  [% article.title %] </a> </td></tr>
    <tr> <td> [% article.content %] </td> </tr>
[% END %]


</tbody>
</table>
